html, body {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    line-height: 1.5;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: url('assets/freedom.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Heebo';
    font-size: 25px;
  }

  .idezet {
    margin: 100px;
    text-align: center;
    color: #555;
  }
  
  h1 {
    font-variant: small-caps;
  }
  
  p {
    font-style: italic;
  }